<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href="/">Home</a>
    <hr>
    {{#if result}}
        <h2>{{title}} details</h2>
        <li>Author: {{result.author}}</li>
        <li>Genre: {{result.genre}}</li>
        <li>Pages: {{result.pages}}</li>
        <li>Price: {{result.price}}</li>
    {{else}}
        <h2>{{title}} not found</h2>
    {{/if}}
</body>
</html>